 <div class="custom-category-card-wrapper">
      <i class="material-icons outlined custom-material-icon"><%= @group.icon%></i>
      <h4 class="custom-category-card-title text-primary-light"><%= @group.name%></h4> 
 </div>