<div class="custom-login-actions">
    <%= link_to new_user_group_payment_path(author_id:@user.id,group_id:@group.id), id:'cancel-link' do %>
     <button class="blue-button" >Add new payment</button>
    <% end %> 
</div>  